<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Image filter with Vue.js and CSS3</title>
	<style>
		pre{
			color: rgb(76, 186, 135);
			font-size: 18px;
			font-weight: bolder;
		}

		input[type=range] {
			padding: 0;
			border: none;
		}

		[data-filter-disabled=true],
		button[disabled=true],
		button[disabled=disabled],
		[data-filter-disabled=true] input {
			background: #f1f1f1;
			cursor: not-allowed;
		}
		#copy-code{ position: relative; }
		#copy-code .btn{
			position: absolute;
			top: 0;
			right: 0;
		 }
		 .card-presets {
		 	height: 440px;
		 	overflow-y: auto;
		 }
		[v-clock{ display: none; }]
	</style>
</head>
<body>
<div id='vueImageFilterApp'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    	<a class="navbar-brand" href="#">Image filter with Vue.js and CSS3</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appnav" aria-controls="appnav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
    </nav>
    <section class="bg-light" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 text-center my-5">
                    <h1 class="display-3">CSS3 Filter with Vue.js</h2>
                    <h2 class="h4 py-5">Syntax - <p> <code>.class-filter{ filter: &lt;filter-function&gt; [&lt;filter-function&gt;] }</code></p></h2>
                    <a href="https://github.com/ariabid/vuejs-css3-image-filter/" class="btn btn-large btn-primary" title="CSS3 image filter with Vuejs">
                        <i class="fa fa-code-fork"></i> fork on <i class="fa fa-github"></i> Github
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="filter">
        <div class="py-5 container-fluid">
        	<div class="row align-items-start">
            	<div class="col-md-6">
                    <div class="card">
                    	<div class="card-header">
                            <div v-if="!image" class='form-group pt-3'>
								<input type="file" @change="changeImage" class='form-control'>
							</div>
							<div v-else class='form-group m-0 clearfix'>
								<button @click="image=null" class='btn btn-primary btn-sm'><i class='fa fa-file-image-o fa-fw'></i> New image</button>
								<button class="btn btn-sm btn-success float-right" @click="download"><i class='fa fa-download fa-fw'></i> Download</button>
							</div>
						</div>

                    	<!-- Image -->
                    	<div v-show='image'>
                    		<img ref='img' crossOrigin="Anonymous" id='image' :src="image" class='card-img-top' :style='filters'>
                    	</div>
                    </div>
                </div>

                <div class="col-md-6 sticky-top">
                	<div class="card mb-2 bg-dark">
        				<div class="card-body" id="copy-code">
                    		<pre>img {<br>&nbsp;&nbsp;filter: {{filters.filter}}; <br>}</pre>
                    		<button @click='textCopied = !textCopied' :disabled='!image' data-clipboard-target="#copy-code" class="btn btn-sm btn-dark">
								<span v-if='textCopied'>Copied</span>
								<span v-else='textCopied'>Copy code</span>
                    		</button>
        				</div>
            		</div>
                    <div class="row">
                    	<div class="col-md-7">
                    		<div class="card">
		                        <div class="card-header clearfix">
		                        	<h5 class="card-title float-left m-0">Adjust the filter</h5>
		                        	<button type='button' class='btn btn-danger btn-sm float-right' @click='setToDefault()' :disabled='!image'><i class='fa fa-undo fa-fw'></i> Reset</button>
		                        </div>
		                        <div class="card-body row">
		                            <div class="col-md-6" :data-filter-disabled='!image'>
		                                <div class="form-group p-0">
		                                    <label>Grayscale ({{ filterFunctions.grayscale }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="1" v-model='filterFunctions.grayscale' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Blur ({{ filterFunctions.blur }}px)</label>
		                                    <input type="range" class="form-control" step='1' min="0" max="50" v-model='filterFunctions.blur' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Sepia ({{ filterFunctions.sepia }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="1" v-model='filterFunctions.sepia' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Saturate ({{ filterFunctions.saturate }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="2" v-model='filterFunctions.saturate' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Opacity ({{ filterFunctions.opacity }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="1" v-model='filterFunctions.opacity' :disabled='!image'>
		                                </div>
		                            </div>
		                            <div class="col-md-6" :data-filter-disabled='!image'>
		                                <div class="form-group p-0">
		                                    <label>Brightness ({{ filterFunctions.brightness }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="5" v-model='filterFunctions.brightness' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Contrast ({{ filterFunctions.contrast }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="10" v-model='filterFunctions.contrast' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Hue-rotate ({{ filterFunctions.hueRotate }}deg)</label>
		                                    <input type="range" class="form-control" step='1' min="0" max="360" v-model='filterFunctions.hueRotate' :disabled='!image'>
		                                </div>
		                                <div class="form-group p-0">
		                                    <label>Invert ({{ filterFunctions.invert }})</label>
		                                    <input type="range" class="form-control" step='0.1' min="0" max="2" v-model='filterFunctions.invert' :disabled='!image'>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
                    	</div>
                    	<div class="col-md-5">
							<div class="card card-presets">
								<div class="card-header">
									<h5 class="card-title float-left m-0">Presets</h5>
								</div>
								<div class="card-body">

								</div>
							</div>
                    	</div>
                    </div>
                </div>
       	 	</div>
   		</div>
	</section>

    <footer class="footer bg-dark text-white py-3">
        <div class="text-center">
            &copy; <?=date('Y');?>, www.coderomeos.org
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src='app.js'></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script>
	$(function(){
	    new Clipboard('.btn');
	});
</script>
</body>
</html>